[submodule "lib/carcom"]
	path = lib/carcom
	url = git@github.com:mx-car/carcom.git
[submodule "lib/carbldc"]
	path = lib/carbldc
	url = git@github.com:mx-car/carbldc.git
[submodule "lib/carimu"]
	path = lib/carimu
	url = git@github.com:mx-car/carimu.git
[submodule "lib/carmotion"]
	path = lib/carmotion
	url = git@github.com:mx-car/carmotion.git
